/* -----font family----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
/* ----------------------
-------common styles-------
----------------------- */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width:1160px;
    margin-left: auto;
    margin-right: auto;
}
.common-button {
    background: #E02C6D;
    padding: 11px 32px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.common-button .fa-arrow-right {
    margin-left: 5px;
    transition:.3s;
}

.common-button:hover .fa-arrow-right{
    transform: translateX(8px);
    color:#ff84b0
}
/* -----------------------
--------header styles--------
------------------------- */
#header{
    height: 100vh;
    background-color: #2D25A0;
    overflow: hidden;
}
.header-bottom{
    height: 98%;   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.conmebol{
    width:50%;
}
h1.header-title {
    font-size: 64px;
    font-weight: bolder;
    color:rgb(255, 253, 253);
    line-height: 1.3;
    margin-bottom:30px;
}
.banner{
    width:50%;
}

.banner img{
    width: 100%;
    transition:transform ease-in .4s;
}
.banner:hover img{
    transform: scale(1.05);
    cursor: pointer;
}

/*----------------------------
-------- players styles --------
--------------------------*/
section {
    padding: 80px 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
}
.player{
    padding:15px 15px 40px 15px;
    box-shadow: 0px 0px 20px 0px #bcbcbc;
}
.player-info p {
    font-size: 16px;
    font-weight: 600;
    color: #6C6C6C;
}
.player-img img {
    width: 100%;
}
.player-name{
    font-size: 28px;
    margin:15px 0;
}
/* --------------------------
--------Highlights styles------- 
-----------------------------*/
.highlights-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.highlights-info,.highlights-img{
    width:50%;
}
.highlights-info{
    padding-right:20px;
}
.highlights-caption{
    font-size: 48px;
    margin-bottom:18px;
}
.highlights-info p {
    font-size: 16px;
    font-weight: 600;
    color: #6C6C6C;
    word-spacing: 3px;
    line-height: 27px;
    padding-right: 120px;
    margin-bottom:40px;
}
.highlights-img img{
    width:100%;
    transition:transform ease-in .4s;
}
.highlights-img:hover img{
    transform: scale(1.04);
    cursor: pointer;
}

/* -----------------------
------------gallery----------- 
---------------------------*/
#gallery {
    background: #f8f8f8;
    padding:50px 0;
}
.gallery-title {
    text-align: center;
    margin-bottom: 23px;
    margin-top: 20px;
    font-size: 50px;
    text-transform: uppercase;
    color: black;
}
.gallery-images {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.image{
    overflow: hidden;
}
.image img {
    width: 100%;
    height: 100%;
    transition:.3s;
}
.image:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

/* final match */
.final-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.final-desc,.final-video{
    width:50%;
}
.final-desc h1 {
    font-size: 48px;
    margin-bottom: 14px;
}
.final-desc p{
    color:#6C6C6C;
    font-size: 16px;
    margin-bottom:30px;
    padding-right: 30px;
}

.final-video iframe{
    width: 100%;
    height: 300px;
}
/* footer design */
footer{
    text-align: center;
    padding-top:40px;
    padding-bottom:60px;
}
.footer-logo img{
    width:483px;
    height: 110px;
}
.social-icon {
    display: inline-flex;
    /* margin: auto; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e6e6e6;
    margin: 0 3px;
    font-size: 17px;
    padding: 3px 7px;
    transition:.4s;
}
.social-icon:first-child {
    padding: 3px 10px;
}
.social-icon a {
    text-decoration: none;
    color: gray;
    transition:.3s;
}
.social-icon:hover{
   
    background-color: rgb(49, 49, 49);
}
.social-icon:hover a{
    color: #fff;
}

footer p{
    font-size: 18px;
    margin-top: 20px;
}





/* ---------------------------------
------------media queries-----------------
------------------------------------- */
@media only screen and (max-width:1200px){
    .container{
        width:80%;
    }
}
/* for tablet view 992px  */
@media only screen and (max-width:992px){
    section{
        padding:60px 0;
    }
    h1.header-title{
        font-size:50px;
        padding-right:0;
    }
    .players{
        grid-template-columns: repeat(2,1fr);
    }
    .highlights-info{
        padding-right: 0;
    }
    .highlights-caption{
        font-size:30px;
    }
    .highlights-info p{
        padding-right: 25px;
    }
    .gallery-images{
        grid-template-columns: repeat(3,1fr);
    }
    /* for final video */
    .final-desc h1 {
        font-size:35px;
    }

}

/* for mobile view  */
@media only screen and (max-width:688px){
    /* styles for header */
    .container{
        width:90%;
    }
    #header{
        height: auto;
        padding:50px 0;
    }
    .container{
        width:95%;
    }
    .flex-container{
        flex-direction: column;
    }
    .conmebol,.banner{
        width:80%;
    }
    .conmebol{
        margin-bottom:50px;
    }
    h1.header-title{
        font-size: 35px;
    }
    /* player styles */
    section{
        padding:60px;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
    }
    .player-info p {
        font-size: 20px;
        width: 85%;
        text-align: left;
         line-height: 38px;
    }
    /* highlights styles */
    .highlights-info,.highlights-img{
        width:100%;
    }
    .highlights-info p{
        padding-right: 0;
    }
    .highlights-img{
        margin-top:40px;
    }

    /* galllery section */
    .gallery-images{
        grid-template-columns: repeat(1,1fr);
    }
    /* final match */
    .final-container{
        flex-direction: column;
    }
    .final-desc,.final-video{
        width: 100%;
    }
    .final-desc{
        order: 2;
    }
    .final-video{
        margin-bottom:40px;
        order:1;
    }
}